<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="2" name="Test" preserve-order="false"
		parallel="methods">

		<groups>
			<run>
				<include name="regression.*"></include>
			</run>
		</groups>


		<classes>
			<class name="PracticeClass">

				<methods>
					<include name="test3"></include>
					<include name="test1"></include>
					<exclude name="test4"></exclude>

				</methods>
			</class>
		</classes>
	</test>

<parameter name="parameter1" value="parameterValue1"/>
	<test name="test2">

		<groups>
			<define name="broken">
				<include name="broken1"></include>
				<include name="broken2"></include>
			</define>

			<run>
				<include name="broken"></include>
			</run>
		</groups>


		<packages>
			<package name="package2"></package>
		</packages>

	</test> <!-- Test -->
</suite> <!-- Suite -->
